.countryCard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.background{
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: -1;
    filter: blur(2px);
    opacity: 60%;
}

.cardInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 100%;
}

.imageDiv{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    border-radius: 100px;
}

.imageDiv div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    border-radius: 100px;
    overflow: hidden;
}

.imageDiv div:hover{
    cursor: pointer;
    animation: showDetails .5s forwards;
}

@keyframes showDetails {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
        box-shadow: 0 0 5px #ffffff;
    }
}

.imageDiv img{
    height: 140px;
    border-radius: 100px;
}

.imageDiv img:hover{
    opacity: .5;
    transition: .5s;
}

.imageDiv a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 140px;
    width: 140px;
    border-radius: 100px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    opacity: 0;
}

.imageDiv div:hover a{
    opacity: 1;
    transition: .5s;
}

.countryDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 50%;
    padding: 0 10px;
    background-color: #000000de;
    color: #ffffffcc;
    position: relative;
}

.countryDetails p{
    position: absolute;
    font-size: 20px;
    margin: 0;
    opacity: 0;
    transition: .2s;
}

.countryDetails h3{
    top: 10px;
    line-height: 100%;
    font-weight: 100;
    font-size: 20px;
    margin: 0;
    transition: 1s;
}

.countryDetails:hover p{
    cursor: context-menu;
    opacity: 1;
    transition: 1s;
}

.countryDetails:hover h3{
    cursor: context-menu;
    opacity: 0;
    transition: .2s;
}
