.activitiesPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/activitiesBackground.jpg');
    background-attachment: fixed;
    background-position: center center;
}

.nav{
    position: absolute;
    width: 14.99%;
    left: 1.125%;
    top: 10px;
}

.activitiesDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    width: 80%;
    height: 65%;
    overflow: auto;
    background-color: #ffffff9d;
    position: relative;
}

.activitiesDiv::-webkit-scrollbar{
    width: 2px;
}

.activitiesDiv::-webkit-scrollbar-thumb {
    background-color: #000000;
    padding: 2px;
}

.activityDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: #83858899;
}

.activityDiv h2{
    margin: 0;
    position: absolute;
    right: 30px;
    top: 20px;

}

.activityInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    gap: 15px;
    padding-bottom: 25px;
    width: 80%;
}

.activityInfo p{
    line-height: 115%;
    margin: 0;
    font-size: 20px;
}

.activityCountries{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.countries{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.deleteBin{
    position: absolute;
    right: 35px;
    top: 40px;
    width: 40px;
    cursor: pointer;
}

.deleteBin:hover {
    transform: rotate(10deg) scale(1.05);
}