.formPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000cc;
    height: 100vh;
    width: 100%;
    background-color: #838588;
}

.creativityGif{
    position: absolute;
    right: 3%;
    top: 10%;
}

.formPage h1{
    padding-right: 7px;
}

.nav{
    position: absolute;
    width: 14.99%;
    left: 1.125%;
    top: 10px;
}

.formPage form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    width: 59%;
}

.label{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    font-size: 25px;
}

.error{
    margin: 0;
    color: red;
    font-size: 15px;
    padding-top: 8px;
}

.formPage span{
    position: absolute;
    top: -25px;
    color: red;
    font-size: 15px;
    right: 40%;
}

.formPage input{
    font-family: 'Courier New';
    border: none;
    border-radius: 0;
    padding: 0 2.5%;
    width: 55%;
    height: 30px;
    font-size: 20px;
    background-color: #D9D9D9;
}

.formPage input:focus{
    outline: none;
    box-shadow: 0 0 5px #000000;
}

.options{
    display: flex;
    align-items: center;
    position: absolute;
    width: fit-content;
    padding: 0 10px;
    min-height: 30px;
    background-color: #D9D9D9;
    left: 62%;
    font-size: 15px;
}

.countries{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: fit-content;
    padding: 0 10px 0 10px;
    height: fit-content;
    min-height: 30px;
    max-width: 65%;
    background-color: #D9D9D9;
    left: 62%;
}

.selectedCountries{
    display: flex;
    width: 520px;
    position: relative;
    flex-direction: row;
    align-items: center;
    height: 30px;
}

.selectedCountries p{
    margin: 0;
    position: absolute;
    right: 0;
}

.selectedCountries p:hover{
    cursor: pointer;
}

.selectedCountries h5{
    font-size: 15px;
    font-weight: 100;
    margin: 0;
}

.button{
    width: 60%;
    height: 30px;
    border: none;
    font-size: 20px;
    margin: 0;
    background-color: #ffffff9d;
    box-shadow: 0 0 5px #000000;
    font-family: 'Courier New', Courier, monospace;
}

.button:hover{
    cursor: pointer;
    box-shadow: 0 0 3px #000000;
    transform: scale(0.99);
}