
.searchBar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}

.searchBar button{
    border: none;
    font-size: 20px;
    padding: 2px 0;
    margin: 0;
    background-color: #ffffff9d;
    box-shadow: 0 0 5px #000000;
    font-family: 'Courier New', Courier, monospace;
}

.searchBar button:hover{
    cursor: pointer;
    box-shadow: 0 0 3px #000000;
    transform: scale(0.99);
}

.searchBar input{
    font-family: 'Courier New';
    border: none;
    border-radius: 0;
    padding: 2px 8px;
    height: 23px;
    font-size: 15px;
    background-color: #ffffff9d;
}

.searchBar input:focus{
    outline: none;
    box-shadow: 0 0 5px #000000;
}