.homePage{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.homeAside{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #838588;
    z-index: 1000;
    width: 15%;
    height: 100vh;
    gap: 10px;
}