.homePage{
    display: flex;
    flex-direction: row;
}

.homeAside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #95efd7;
    z-index: 1000;
    width: 15%;
    height: 100vh;
    gap: 10px;
}