.landingPage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas{
    width: auto;
    height: 95vh;
    z-index: 999;
}

.canvasHover {
    opacity: 60%;
    width: auto;
    height: 95vh;
    cursor: pointer;
    z-index: 1000;
}

.title{
    color: #ffffff;
    position: absolute;
    margin: 0;
    font-size: 100px;
    z-index: 1;
    opacity: 0.8;
}